  <script src="http://spivey.oriel.ox.ac.uk/gwiki/files/deployJava.js"></script>
  <script>
    var text = "Launch GeomLab";
    var jnlp = "http://spivey.oriel.ox.ac.uk/gwiki/files/geomlab.jnlp";
    var help = "http://spivey.oriel.ox.ac.uk/gwiki/index.php/Java_is_not_installed";

    function bga_launch() {
      if (deployJava.isWebStartInstalled('1.6.0')) {
        deployJava.launch(jnlp);
      } else {
        document.location.href = help;
      }
    }

    document.write('<a class="bga2" href="javascript:bga_launch()" ' +
      'onMouseOver="window.status=\'\'; return true;">' + text + '<' + '/a>');
  </script>
