<form action="http://spivey.oriel.ox.ac.uk/cgi-bin/feedback" method="POST">
<input name="response" type="hidden" value="Thanks!">
<table border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td width="120"><b>Your name:</b></td>
    <td><input name="name" type="text" SIZE=40></td>
  </tr>
  <tr>
    <td><b>Your e-mail address:</b></td>
    <td><input name="email" type="text" size=40></td>
  </tr>
</table>
<table border="0" cellspacing="6" cellpadding="0">
  <tr>
    <td><b>Your comment:</b></td>
  </tr>
  <tr>
    <td>
      <textarea name="message" cols=70 rows=15
		style="font-size: 10pt; border-color: black">Type your comment here</textarea>
    </td>
  </tr>
  <tr>
    <td align="center"><input type="submit" value="Send"></td>
  </tr>
</table>
</form>
